<!-- Header -->
<%-include('includes/headerChaussure.ejs')%>
    <main>
        <ul>
            <li>
                <img src="../../img/<%= currentShoes.brand %>/<%= currentShoes.link%>.png" alt="Jordan 6 Infrared">
            </li>
            <li>
                <ul>
                    <li>
                        <h2>
                            <%= currentShoes.brand %>
                        </h2>
                    </li>
                    <li>
                        <h3>
                            <%=currentShoes.name%>
                        </h3>
                    </li>
                    <li>
                        <p>
                            <%=currentShoes.details%>
                        </p>
                    </li>
                    <li>
                        <select name="taille" id="taille">
                            <option value="1">US M 8.5</option>
                            <option value="2">US M 9</option>
                            <option value="3">US M 9.5</option>
                            <option value="4">US M 10</option>
                            <option value="5">US M 10.5</option>
                            <option value="6">US M 11</option>
                            <option value="7">US M 11.5</option>
                            <option value="8">US M 12</option>
                        </select>
                    </li>
                    <li id="lia">
                        <a href="../../img/Jordan/Jordan_6_Retro_Infrared.png" download="Jordan 6 Infrared Buy" id="button">Acheter pour <span id="price"><%=currentShoes.price%></span> CHF</a>
                    </li>
                </ul>
            </li>
        </ul>
        <hr>
        <ul id="suggest">

            <% shoesList.forEach((shoes) => { %>
                <li>
                    <a href="/<%= currentShoes.brand %>/<%= shoes._id %>">
                        <img src="../img/<%= currentShoes.brand %>/<%= shoes.link %>.png" alt="<%= shoes.link %>">
                        <h3><%= shoes.name %></h3>
                        <p><%= shoes.details %></p>
                        <h4><%= shoes.price %> CHF</h4>
                    </a>
                </li>
                <% }) %>
        </ul>
    </main>
    <script src="../JS/taille.js"></script>
    <!-- Footer -->
    <%-include('includes/footer.ejs')%>
        </body>

        </html>